<img src='./img/intel-logo.jpg' width=50%, Fig1> 

# 판다스 기초강의
<font size=5><b>03. 데이터 적재<b></font>

<div align='right'>성  민  석 (Minsuk  Sung)</div>
<div align='right'>류  회  성 (Hoesung Ryu)</div>

<img src='./img/pandas-logo.png' width=50%, Fig2> 


---

<h1>강의목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#csv-파일-읽기-read_csv()" data-toc-modified-id="csv-파일-읽기-read_csv()-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>csv 파일 읽기 read_csv()</a></span><ul class="toc-item"><li><span><a href="#컬럼명이-존재하는-csv-파일" data-toc-modified-id="컬럼명이-존재하는-csv-파일-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>컬럼명이 존재하는 csv 파일</a></span></li><li><span><a href="#컬럼명이-없는-csv-파일" data-toc-modified-id="컬럼명이-없는-csv-파일-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>컬럼명이 없는 csv 파일</a></span></li><li><span><a href="#정규표현식-사용하여-DataFrame-읽어오기" data-toc-modified-id="정규표현식-사용하여-DataFrame-읽어오기-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>정규표현식 사용하여 DataFrame 읽어오기</a></span></li><li><span><a href="#주석이-포함되어-있는-파일-읽기" data-toc-modified-id="주석이-포함되어-있는-파일-읽기-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>주석이 포함되어 있는 파일 읽기</a></span></li></ul></li><li><span><a href="#용량이-큰-파일-읽기" data-toc-modified-id="용량이-큰-파일-읽기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>용량이 큰 파일 읽기</a></span><ul class="toc-item"><li><span><a href="#10줄만-읽어오기" data-toc-modified-id="10줄만-읽어오기-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>10줄만 읽어오기</a></span></li><li><span><a href="#실제-파일을-읽는-게-아니라,-Reader-객체만-생성하여,-일정-갯수만큼씩-읽어오기" data-toc-modified-id="실제-파일을-읽는-게-아니라,-Reader-객체만-생성하여,-일정-갯수만큼씩-읽어오기-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>실제 파일을 읽는 게 아니라, Reader 객체만 생성하여, 일정 갯수만큼씩 읽어오기</a></span></li></ul></li><li><span><a href="#클립보드를-이용하여-데이터-읽기" data-toc-modified-id="클립보드를-이용하여-데이터-읽기-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>클립보드를 이용하여 데이터 읽기</a></span></li><li><span><a href="#데이터베이스에서-읽기" data-toc-modified-id="데이터베이스에서-읽기-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>데이터베이스에서 읽기</a></span><ul class="toc-item"><li><span><a href="#테이블-생성-SQL-정의" data-toc-modified-id="테이블-생성-SQL-정의-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>테이블 생성 SQL 정의</a></span></li><li><span><a href="#sqlite-접속" data-toc-modified-id="sqlite-접속-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>sqlite 접속</a></span></li><li><span><a href="#테이블-생성-SQL-수행" data-toc-modified-id="테이블-생성-SQL-수행-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>테이블 생성 SQL 수행</a></span></li><li><span><a href="#생성된-테이블에-저장할-데이터-정의" data-toc-modified-id="생성된-테이블에-저장할-데이터-정의-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>생성된 테이블에 저장할 데이터 정의</a></span></li><li><span><a href="#데이터-적재-SQL-정의" data-toc-modified-id="데이터-적재-SQL-정의-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>데이터 적재 SQL 정의</a></span></li><li><span><a href="#데이터-적재-SQL-수행" data-toc-modified-id="데이터-적재-SQL-수행-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>데이터 적재 SQL 수행</a></span></li><li><span><a href="#Select-SQL-실행1" data-toc-modified-id="Select-SQL-실행1-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Select SQL 실행1</a></span></li><li><span><a href="#Select-SQL-실행2" data-toc-modified-id="Select-SQL-실행2-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>Select SQL 실행2</a></span></li></ul></li><li><span><a href="#엑셀파일-읽기" data-toc-modified-id="엑셀파일-읽기-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>엑셀파일 읽기</a></span><ul class="toc-item"><li><span><a href="#첫번째-시트-읽기" data-toc-modified-id="첫번째-시트-읽기-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>첫번째 시트 읽기</a></span></li><li><span><a href="#두번째-시트-읽기" data-toc-modified-id="두번째-시트-읽기-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>두번째 시트 읽기</a></span></li><li><span><a href="#모든-시트-다-읽어오기" data-toc-modified-id="모든-시트-다-읽어오기-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>모든 시트 다 읽어오기</a></span></li><li><span><a href="#sheet--각-각-저장" data-toc-modified-id="sheet--각-각-저장-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>sheet  각 각 저장</a></span></li></ul></li></ul></div>

## csv 파일 읽기 read_csv()
`read_csv()`에 대한 [공식 문서](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

### 컬럼명이 존재하는 csv 파일

In [1]:
import pandas as pd

pd.read_csv('./data/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 컬럼명이 없는 csv 파일

In [2]:
# 컬럼명이 지정되 있지 않은 데이터는 첫번째 데이터가 헤더가 되버림
pd.read_csv('./data/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [14]:
pd.read_csv('data/ex2.csv',
            header = None, #  csv 파일의 첫번째 줄이 컬럼명이 아님을 명시함.
            names = ['a','b','c','d','e'] #컬럼명을 다음과 같이 가져오게 된다. 
           )

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

### 정규표현식 사용하여 DataFrame 읽어오기

In [10]:
# data/ex3.csv 읽기
pd.read_csv('./data/ex3.csv')

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [11]:
# sep에는 정규표현식으로 가능, 이렇게 하면 연속된 놈을 하나로 인식해라
pd.read_csv('./data/ex3.csv',sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

### 주석이 포함되어 있는 파일 읽기
skiprows를 이용하여, 특정 행을 읽지 않도록 한다.

In [16]:
pd.read_csv('./data/ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [18]:
pd.read_csv('./data/ex4.csv',
            skiprows = [0,2,3]) # 0,2,3번째 행을 읽지 마라

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
#2. comment 인자를 이용하여, 주석은 데이터로 읽지 않음.
pd.read_csv('./data/ex4.csv', comment = '#') # #으로 시작하는 줄을 주석이니까 읽지마라

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
test = pd.read_csv('./data/ex4.csv', comment = '#') # #으로 시작하는 줄을 주석이니까 읽지마라
test

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 용량이 큰 파일 읽기

- 로딩 시간이 오래걸림
- 메모리 부족 시 OOM(Out Of Memory)가 발생함

### 10줄만 읽어오기

In [21]:
pd.read_csv('data/us_presidental.csv',nrows=10) # 앞의 일부분만 볼 수 있음

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250,20-Jun-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50,23-Jun-11,NaN,NaN,NaN,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403,INFORMATION REQUESTED,INFORMATION REQUESTED,250,05-Jul-11,NaN,NaN,NaN,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250,01-Aug-11,NaN,NaN,NaN,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467,NONE,RETIRED,300,20-Jun-11,NaN,NaN,NaN,SA17A,736166
5,C00410118,P20002978,"Bachmann, Michelle","BECKMAN, JAMES",SPRINGDALE,AR,727647190,NONE,RETIRED,500,23-Jun-11,NaN,NaN,NaN,SA17A,736166
6,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,INFORMATION REQUESTED,INFORMATION REQUESTED,250,21-Jun-11,NaN,NaN,NaN,SA17A,736166
7,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250,05-Jul-11,NaN,NaN,NaN,SA17A,749073
8,C00410118,P20002978,"Bachmann, Michelle","COLLINS, SARAH",MESA,AZ,852106725,ST. JOSEPH HOSPITAL,RN,250,21-Jun-11,NaN,NaN,NaN,SA17A,736166
9,C00410118,P20002978,"Bachmann, Michelle","COLEMAN, RONALD",TUCSON,AZ,857498865,RAYTHEON,ELECTRICAL ENGINEER,250,20-Jun-11,NaN,NaN,NaN,SA17A,736166

### 실제 파일을 읽는 게 아니라, Reader 객체만 생성하여, 일정 갯수만큼씩 읽어오기

In [22]:
reader = pd.read_csv('data/us_presidental.csv',chunksize=1000)

In [24]:
#chunksize만큼 데이터를 읽어옴.
next(reader)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
1000,C00431171,P80003353,"Romney, Mitt","NEUWIEN, SUSAN W. MS.",ENTERPRISE,AL,363302385,RETIRED,RETIRED,1000.0,13-Feb-12,NaN,NaN,NaN,SA17A,780124
1001,C00431171,P80003353,"Romney, Mitt","NEUWIEN, SUSAN W. MS.",ENTERPRISE,AL,363302385,RETIRED,RETIRED,100.0,18-Feb-12,NaN,NaN,NaN,SA17A,780124
1002,C00431171,P80003353,"Romney, Mitt","NELSON, ARTHUR R. MR.",DECATUR,AL,356034622,TFA,PRESIDENT,200.0,29-Feb-12,NaN,NaN,NaN,SA17A,780124
1003,C00431171,P80003353,"Romney, Mitt","HOLLIS, HAYNE MR.",DOTHAN,AL,363033008,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,1000.0,29-Feb-12,NaN,NaN,NaN,SA17A,780124
1004,C00431171,P80003353,"Romney, Mitt","GORRIE, ALISON MRS.",BIRMINGHAM,AL,352231228,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,1000.0,22-Feb-12,NaN,NaN,NaN,SA17A,780124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,C00431171,P80003353,"Romney, Mitt","HALL, KENNETH T. MR.",GLENDALE,AZ,853086132,SELF-EMPLOYED,SELF-EMPLOYED,2500.0,16-May-11,NaN,NaN,NaN,SA17A,760248
1996,C00431171,P80003353,"Romney, Mitt","DEMENNA, KEVIN B. MR.",PHOENIX,AZ,850072603,DEMENNA & ASSOCIATES,LOBBYIST,2500.0,16-May-11,NaN,NaN,NaN,SA17A,760248
1997,C00431171,P80003353,"Romney, Mitt","DEMENNA, MELISSA MRS.",PHOENIX,AZ,850072603,HOMEMAKER,HOMEMAKER,2500.0,16-May-11,NaN,NaN,NaN,SA17A,760248
1998,C00431171,P80003353,"Romney, Mitt","JACKSON, WILLIAM G. MR.",PARADISE VALLEY,AZ,852531824,CABLE AMERICA COORPORATION,PRESIDENT,250.0,10-Jun-11,NaN,NaN,NaN,SA17A,760248
1999,C00431171,P80003353,"Romney, Mitt","FOYLE, DOLORES D. MRS.",PHOENIX,AZ,850329213,RETIRED,RETIRED,250.0,06-Jun-11,NaN,NaN,NaN,SA17A,760248

In [ ]:
# 그 다음 1000줄
next(reader)

## 클립보드를 이용하여 데이터 읽기

#IE에서는 안되고, 크롬에서 저장하고자 하는 테이블 형태의 데이터를 복사한 후에 아래 명령어 출력하면, 데이터프레임으로 생성된다.

In [7]:
import pandas as pd

In [9]:
# https://m.stock.naver.com
# 위주소로 접속하여 복사하도록 한다. 

pd.read_clipboard()

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit https://pyperclip.readthedocs.org

## 데이터베이스에서 읽기

파이썬에서 `sqlite3`를 내장하고 있음

1. import 라이브러리하고
2. conn으로 접속을 해서 스트림하고
3. SQL문을 통해서 execute를 하고
4. commit을 하고
5. close하면 됨

### 테이블 생성 SQL 정의

In [27]:
import sqlite3
create_table_sql = "CREATE TABLE locations\
                    ( a VARCHAR[20], b VARCHAR[20], c INTEGER )"

### sqlite 접속

In [28]:
conn = sqlite3.connect('test.db')

### 테이블 생성 SQL 수행

In [29]:
conn.execute(create_table_sql)

In [30]:
conn.commit()

### 생성된 테이블에 저장할 데이터 정의

In [31]:
data = [['서울','강남', 15]
       ,['서울','강동', 10]
       ,['서울','동대문', 7]
       ,['서울','양천', 12]
       ,['성남','분당', 12]
       ,['수원','영통', 15]
       ,['성남','중원', 11]
       ,['수원','팔달', 14]
       ]

### 데이터 적재 SQL 정의

In [32]:
load_data_sql = '''INSERT INTO locations
                   VALUES  (?, ?, ?)''' # ?를 해둔 이유는 여기에 데이터를 나중에 넣을 공간이다

### 데이터 적재 SQL 수행

In [33]:
conn.executemany(load_data_sql,data) # data에 있는 8개 정보를 한줄씩 여러번 하려고

In [ ]:
# commit() 수행
conn.commit()

### Select SQL 실행1

In [35]:
select_data_sql = '''SELECT *
                     FROM locations'''
pd.read_sql(select_data_sql,conn)

    a    b   c
0  서울   강남  15
1  서울   강동  10
2  서울  동대문   7
3  서울   양천  12
4  성남   분당  12
5  수원   영통  15
6  성남   중원  11
7  수원   팔달  14

### Select SQL 실행2

In [36]:
select_data_sql2 = '''SELECT a,sum(c)
                      FROM locations
                      GROUP BY a'''
pd.read_sql(select_data_sql2,conn)

    a  sum(c)
0  서울      44
1  성남      23
2  수원      29

In [37]:
# 데이터베이스의 테이블 크기가 큰 경우에는 cursor 사용하기
# 한줄씩 읽을 수 있게 만들어줌
cursor = conn.execute(select_data_sql)
cursor

In [38]:
# 내가 원하는 갯수만큼 읽어올 수 있음
rows = cursor.fetchmany(2)
pd.DataFrame(rows) # 다 읽어오면 더이상 읽어올 수 없음

    0   1   2
0  서울  강남  15
1  서울  강동  10

In [39]:
cursor.close()

In [40]:
conn.close()

## 엑셀파일 읽기

1. 기본적으로 첫번째 시트에 있는 데이터를 읽어와서 데이터프레임으로 저장함. 
2. 모든 시트를 읽기 위해서는 sheetname인자를 None으로 설정
3. sheetname = None. 모든 시트의 데이터를 읽어서 사전 형태로 저장됨. 
4. key = 시트의 이름, value = 각 시트에 있는 데이터들을 저장한 데이터프레임 

<img src="img/excel_example.jpg" style="width: 600px;"/>

### 첫번째 시트 읽기

In [42]:
pd.read_excel('./data/ex6.xlsx')

   a   b
0  1   2
1  5   6
2  9  10

### 두번째 시트 읽기

In [44]:
# pd.read_excel('./data/ex6.xlsx',sheet_name='시트2') # 설정이 한글 일 경우
pd.read_excel('./data/ex6.xlsx',sheet_name='sheet2')

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo

### 모든 시트 다 읽어오기

In [46]:
# dict타입으로 반환해줌
data = pd.read_excel('./data/ex6.xlsx',sheet_name=None)
data

OrderedDict([('sheet1',    a   b
              0  1   2
              1  5   6
              2  9  10), ('sheet2',     c   d message
              0   3   4   hello
              1   7   8   world
              2  11  12     foo)])

In [47]:
# sheet1
# data['시트1'] # 설정이 한글 일 경우
data['sheet1']

   a   b
0  1   2
1  5   6
2  9  10

In [49]:
# sheet2
# data['시트2'] # 설정이 한글 일 경우
data['sheet2']

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo

###   sheet  각 각 저장

In [50]:
data1, data2 = data.values() # 이렇게 하면 각각 저장 가능

In [51]:
data1

   a   b
0  1   2
1  5   6
2  9  10

In [52]:
data2

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo