<img src='./img/intel-logo.jpg' width=50%, Fig1> 

# 판다스 기초강의
<font size=5><b>08. pivot_table, groupby<b></font>

<div align='right'>성  민  석 (Minsuk  Sung)</div>
<div align='right'>류  회  성 (Hoesung Ryu)</div>

<img src='./img/pandas-logo.png' width=50%, Fig2> 


---

<h1>강의목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Group-by()" data-toc-modified-id="Group-by()-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Group by()</a></span><ul class="toc-item"><li><span><a href="#연도별-전체의-총인구수-구하기" data-toc-modified-id="연도별-전체의-총인구수-구하기-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>연도별 전체의 총인구수 구하기</a></span></li><li><span><a href="#연도별-전체의-남자인구,-여자인구,-총인구-수-구하기" data-toc-modified-id="연도별-전체의-남자인구,-여자인구,-총인구-수-구하기-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>연도별 전체의 남자인구, 여자인구, 총인구 수 구하기</a></span></li><li><span><a href="#자치구별로-평균-총인구수" data-toc-modified-id="자치구별로-평균-총인구수-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>자치구별로 평균 총인구수</a></span></li><li><span><a href="#도시/자치구별-평균-총인구수" data-toc-modified-id="도시/자치구별-평균-총인구수-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>도시/자치구별 평균 총인구수</a></span></li></ul></li><li><span><a href="#pivot_table()" data-toc-modified-id="pivot_table()-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>pivot_table()</a></span><ul class="toc-item"><li><span><a href="#도시/자치구-별로-남자인구의-평균을-구한-후,-남자인구가-가장-많은-도시/자치구-5개를-출력하시오." data-toc-modified-id="도시/자치구-별로-남자인구의-평균을-구한-후,-남자인구가-가장-많은-도시/자치구-5개를-출력하시오.-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>도시/자치구 별로 남자인구의 평균을 구한 후, 남자인구가 가장 많은 도시/자치구 5개를 출력하시오.</a></span></li><li><span><a href="#남자와-여자인구수-차이의-평균을-구한-후,-가장-많이-차이나는-도시/자치구-3개를-찾으시오." data-toc-modified-id="남자와-여자인구수-차이의-평균을-구한-후,-가장-많이-차이나는-도시/자치구-3개를-찾으시오.-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>남자와 여자인구수 차이의 평균을 구한 후, 가장 많이 차이나는 도시/자치구 3개를 찾으시오.</a></span></li></ul></li></ul></div>

## Group by()

In [3]:
# 실습 데이터 적재
import pandas as pd
import numpy as np 
data = pd.read_excel('data/population.xlsx')
data.head()

   도시  자치구    연도  남자인구  여자인구  총인구
0  서울  강남구  2013    73    92  165
1  서울  강남구  2014   139    55  194
2  서울  강남구  2015   123    83  206
3  서울  강남구  2016   147   150  297
4  서울  강남구  2017    57   133  190

### 연도별 전체의 총인구수 구하기

slq
```(sqllite3)
SELECT 연도, sum(총인구)
FROM data
GROUP BY 연도
```

In [4]:
data.groupby('연도')['총인구'].sum()

연도
2013    2130
2014    2256
2015    1848
2016    2045
2017    2128
Name: 총인구, dtype: int64

### 연도별 전체의 남자인구, 여자인구, 총인구 수 구하기

In [5]:
data.groupby('연도')[['남자인구','여자인구','총인구']].sum()

      남자인구  여자인구   총인구
연도
2013  1099  1031  2130
2014  1196  1060  2256
2015   872   976  1848
2016   947  1098  2045
2017  1063  1065  2128

### 자치구별로 평균 총인구수

In [6]:
data.groupby('자치구')['총인구'].mean()

자치구
강남구     210.4
도봉구     207.0
동래구     207.2
동작구     207.2
서대문구    206.2
송파구     194.8
수영구     212.2
영등포구    238.2
종로구     171.2
해운대구    227.0
Name: 총인구, dtype: float64

### 도시/자치구별 평균 총인구수

In [7]:
data.groupby(['도시','자치구'])['총인구'].mean()

도시  자치구
부산  동래구     207.2
    수영구     212.2
    해운대구    227.0
서울  강남구     210.4
    도봉구     207.0
    동작구     207.2
    서대문구    206.2
    송파구     194.8
    영등포구    238.2
    종로구     171.2
Name: 총인구, dtype: float64

## pivot_table()

- index: 로우 인덱스 활용할 컬럼 
- column: 컬럼인덱스로 활용할 컬럼
- aggfunc: 적용할 집계함수
- values: 집계함수를 적용할 컬럼

### 도시/자치구 별로 남자인구의 평균을 구한 후, 남자인구가 가장 많은 도시/자치구 5개를 출력하시오.

In [8]:
data.pivot_table(index=['도시','자치구'],
                 aggfunc='mean',
                 values='남자인구').sort_values(by='남자인구',
                                              ascending=False).head()

          남자인구
도시 자치구
서울 영등포구  125.8
부산 해운대구  124.0
   동래구   112.4
서울 강남구   107.8
부산 수영구   100.4

### 남자와 여자인구수 차이의 평균을 구한 후, 가장 많이 차이나는 도시/자치구 3개를 찾으시오. 
Hint.abs() = 절대값을 구하는 함수

In [9]:
data['남녀차이'] = abs(data['남자인구']-data['여자인구'])
data.pivot_table(index=['도시','자치구'],
                 aggfunc='mean',
                 values='남녀차이').sort_values('남녀차이',
                                              ascending=False).head(3)

        남녀차이
도시 자치구
서울 송파구  50.8
부산 수영구  45.8
서울 강남구  44.4